@model IEnumerable<DataLayer.Features>
@functions{
    public int Count = 0;
    public int GetCount()
    {
        return ++Count;
    }
}
<table class="table table-hover">
    <thead class="cst-tb-center">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                نام ویژگی
            </th>
        </tr>
    </thead>
    <tbody class="cst-tb-center">
        @foreach (var item in Model)
        {
            <tr id="TRGrouping_@item.FeaturesID">
                <td>
                    @GetCount()
                </td>
                <td id="FeatureName_@item.FeaturesID">
                    @item.FeaturesName
                </td>
                <td class="td-actions text-right">
                    <button id="@item.FeaturesID" type="button" class="btn btn-primary btn-link btn-sm edit-feature">
                        <i class="material-icons">edit</i>
                    </button>
                    <button id="@item.FeaturesID" type="button" class="btn btn-danger btn-link btn-sm delete-feature" data-original-title="Remove">
                        <i class="material-icons">close</i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var featureModelID = 0

    $('.edit-feature').click(function () {
        featureModelID = this.id;

        refreshModal();

        var x = this.parentElement.parentElement.children[1];
        var valueName = x.innerHTML.trim();

        var form = $('#EditFeaturesForm');
        $('input[name="FeaturesName"]', form).val(valueName);
        $('input[name="FeaturesID"]', form).val(featureModelID);
        $.ajax({
            url: "/Admin/FeaturesAndGrouping/GetSummeryFeatures/",
            type: "Get",
            data: { id: featureModelID },
            success: function (result) {
                $('textarea[name="Summery"]', form).val(result);
            }
        });
        $('#ModalFooter_DEfeatures').css('display', 'none');
        $('#deleteAndEditFeaturesModal').modal('show');
        $('#ModalTitle_DEfeatures').html('تغییر');
        $('#EditFeaturesForm').css('display', 'block');
    })
    function editFeature_Success(result) {
        switch (result) {
            case 'success.':
                var form = $('#EditFeaturesForm');
                var data = $('input[name="FeaturesName"]', form).val();
                var gropingName = document.getElementById("FeatureName_" + featureModelID);
                gropingName.innerHTML = data;
                refreshModalAlert('EditAndDeleteFeaturesResult', "text-success");
                $('#EditAndDeleteFeaturesResult').html('تغییر انجام شد'); break;
            case 'summery has bad format.': refreshModalAlert('EditAndDeleteFeaturesResult', "text-danger"); $('#EditAndDeleteFeaturesResult').html('مقادیر را با فرمت مشخص شده پر کنید'); break;
            case 'model not valid.': refreshModalAlert('EditAndDeleteFeaturesResult', "text-danger"); $('#EditAndDeleteFeaturesResult').html('فیلد مشخص شده را پر کنید'); break;
        }
    }
    function refreshModal() {
        $('#EditFeaturesForm').css('display', 'none');
        $('#ModalFooter_DEfeatures').css('display', 'none');
        $('#ModalTitle_DEfeatures').html('');
        $('#question').html('');
        $('#EditAndDeleteFeaturesResult').html('');
    }
    $('.delete-feature').click(function () {
        featureModelID = this.id;
        refreshModal();
        $('#ModalFooter_DEfeatures').css('display', 'block');
        $('#deleteAndEditFeaturesModal').modal('show');
        $('#ModalTitle_DEfeatures').html('اخطار');
        $('#question').html('ايا از حذف ویژگی مطمعن هستيد ؟');
    })
    function deleteFeature(id) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
            url: "/Admin/FeaturesAndGrouping/DeleteFeature/",
            type: "Post",
            data: { id: id, __RequestVerificationToken: token }
        }).done(function (result) {
            switch (result) {
                case 'success.':
                    refreshModal();
                    var TRGrouping_ = document.getElementById("TRGrouping_" + featureModelID);
                    TRGrouping_.parentElement.removeChild(TRGrouping_);
                    $('#deleteAndEditFeaturesModal').modal('hide');
                    showNotification('top', 'center', '', 'حذف با موفقیت انجام شد', 'success');
                case 'model not valid.': refreshModal();refreshModalAlert('EditAndDeleteFeaturesResult', "text-danger"); $('#EditAndDeleteFeaturesResult').html('مشکلی در تنظیمات سرور است'); break;
            }
        });
    }
</script>
<!-- Delete user modal -->
<div id="deleteAndEditFeaturesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle_DEfeatures"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ModalBody_DEfeatures" class="modal-body">
                @using (Ajax.BeginForm("EditFeatures", "FeaturesAndGrouping", FormMethod.Post, new AjaxOptions { LoadingElementId = "EditAndDeleteFeaturesAnimate", OnSuccess = "editFeature_Success" }, new { style = "display:none", id = "EditFeaturesForm",placeholder="مقدار 1,مقدار 2,مقدار 3" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" class="form-control" name="FeaturesID" style="visibility:hidden">
                    <label class="bmd-label-floating">نام ویژگی</label>
                    <input type="text" class="form-control" name="FeaturesName">
                    <label class="bmd-label-floating">مقادیر</label>
                    <textarea type="text" class="form-control" name="Summery"></textarea>
                    <button type="submit" class="btn btn-primary pull-right" onclick="refreshModalAlert('addFeaturesResult')">افزودن</button>
                }
                <h5 id="question"></h5>
                <div class="row">
                    <div class="loader" id="EditAndDeleteFeaturesAnimate" style="display:none;margin:auto"></div>
                </div>
                <div class="row">
                    <p class="" style="margin:auto" id="EditAndDeleteFeaturesResult"></p>
                </div>
            </div>
            <div id="ModalFooter_DEfeatures" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" onclick="deleteFeature(featureModelID)">بله</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
