@model IEnumerable<DataLayer.Group>
@functions{
    public int Count = 0;
    public int GetCount()
    {
        return ++Count;
    }
}
<table class="table table-hover">
    <thead class="cst-tb-center">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                نام دسته
            </th>
        </tr>
    </thead>
    <tbody class="cst-tb-center">
        @foreach (var item in Model)
        {
            <tr id="TRGrouping_@item.GroupID">
                <td>
                    @GetCount()
                </td>
                <td id="GroupingName_@item.GroupID">
                    @item.GroupName
                </td>
                <td class="td-actions text-right">
                    <button id="@item.GroupID" type="button" onclick="" class="btn btn-primary btn-link btn-sm edit-group">
                        <i class="material-icons">edit</i>
                    </button>
                    <button id="@item.GroupID" type="button" class="btn btn-danger btn-link btn-sm delete-group" data-original-title="Remove">
                        <i class="material-icons">close</i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var modelID = 0

    $('.edit-group').click(function () {
        modelID = this.id;
        refreshModal();
        var x = this.parentElement.parentElement.children[1];
        var valueName = x.innerHTML.trim();
        $('#ModalFooter_DEgrouping').css('display', 'none');
        $('#deleteAndEditGroupModal').modal('show');
        $('#ModalTitle_DEgrouping').html('تغییر');
        $('#EditGroupingForm').css('display', 'block');
        var form = $('#EditGroupingForm');
        $('input[name="GroupName"]', form).val(valueName);
        $('input[name="GroupID"]', form).val(modelID);
    })
    function editGroup_Success(result) {
        switch (result) {
            case 'success.':
                var form = $('#EditGroupingForm');
                var data = $('input[name="GroupName"]', form).val();
                var gropingName = document.getElementById("GroupingName_" + modelID);
                gropingName.innerHTML = data;
                refreshModalAlert('EditAndDeleteGroupResult', "text-success");
                $('#EditAndDeleteGroupResult').html('تغییر انجام شد'); break;
            case 'model not valid.': refreshModalAlert('EditAndDeleteGroupResult', "text-danger"); $('#EditAndDeleteGroupResult').html('فیلد مشخص شده را پر کنید'); break;
        }
    }
    function refreshModal() {
        $('#EditGroupingForm').css('display', 'none');
        $('#ModalFooter_DEgrouping').css('display', 'none');
        $('#ModalTitle_DEgrouping').html('');
        $('#question').html('');
        $('#EditAndDeleteGroupResult').html('');
    }
    $('.delete-group').click(function () {
        modelID = this.id;
        refreshModal();
        $('#ModalFooter_DEgrouping').css('display', 'block');
        $('#deleteAndEditGroupModal').modal('show');
        $('#ModalTitle_DEgrouping').html('اخطار');
        $('#question').html('ايا از حذف گروه مطمعن هستيد ؟');
    })
    function deleteGroup(id) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
            url: "/Admin/FeaturesAndGrouping/DeleteGroup/",
            type: "Post",
            data: { id: id, __RequestVerificationToken: token }
        }).done(function (result) {
            switch (result) {
                case 'success.':
                    var TRGrouping_ = document.getElementById("TRGrouping_" + modelID);
                    TRGrouping_.parentElement.removeChild(TRGrouping_);
                    $('#deleteAndEditGroupModal').modal('hide');
                    showNotification('top', 'center', '', 'حذف با موفقیت انجام شد', 'success');
                case 'model not valid.': refreshModalAlert('EditAndDeleteGroupResult', "text-danger"); $('#EditAndDeleteGroupResult').html('مشکلی در تنظیمات سرور است'); break;
            }
        });
    }
</script>
<!-- Delete user modal -->
<div id="deleteAndEditGroupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle_DEgrouping"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ModalBody_DEgrouping" class="modal-body">
                @using (Ajax.BeginForm("EditeGrouping", "FeaturesAndGrouping", FormMethod.Post, new AjaxOptions { LoadingElementId = "EditGroupingAnimate", OnSuccess = "editGroup_Success" }, new { style = "display:none", id = "EditGroupingForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" class="form-control" name="GroupID" style="visibility:hidden">
                    <label class="bmd-label-floating">نام دسته بندي</label>
                    <input type="text" class="form-control" name="GroupName">
                    <button type="submit" class="btn btn-primary pull-right" onclick="">تغییر</button>
                }
                <h5 id="question"></h5>
                <div class="row">
                    <div class="loader" id="EditGroupingAnimate" style="display:none;margin:auto"></div>
                </div>
                <div class="row">
                    <p class="" style="margin:auto" id="EditAndDeleteGroupResult"></p>
                </div>
            </div>
            <div id="ModalFooter_DEgrouping" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" onclick="deleteGroup(modelID)">بله</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}