@model IEnumerable<DataLayer.User>
@using System;
@functions{
    public int Count = 0;
    public int GetCount()
    {
        return ++Count;
    }
}
<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">اطلاعات </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <span class="bmd-form-group">
                        <div class="input-group no-border">
                            <input type="text" value="" id="ShowUserFilter" onkeyup="jQueryFilterTable(this.id)" class="form-control" placeholder="کلمه مورد نظر خود را برای جستوجو وارد کنید">
                        </div>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" id="profile">
                        <table id="usersTable" class="table table-hover">
                            <thead class="cst-tb-center">
                                <tr>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        نام کاربری
                                    </th>
                                    <th>
                                        ایمیل
                                    </th>
                                    <th>
                                        تاریخ ثبت نام
                                    </th>
                                    @if (ViewBag.GroupID == 5)
                                    {
                                        <th>
                                            وضعییت
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="cst-tb-center">
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.ID">
                                        <td>
                                            @GetCount()
                                        </td>
                                        <td>
                                            @item.Usename
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.RegisterDate.ToPeString("dddd, dd MMMM,yyyy")
                                        </td>
                                        @if (ViewBag.GroupID == 5)
                                        {
                                            <td rel="tooltip">
                                                @if (item.IsActive)
                                                {
                                                    <span class="text-success">فعال</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">غیر فعال</span>
                                                }
                                            </td>
                                        }
                                        <td class="td-actions text-right">
                                            <a href="@Url.Action("EditUser","DisplayUsers",new { id=item.ID})">
                                                <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                            </a>
                                            <button id="@item.ID" type="button" rel="tooltip" title="" class="delete-user btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>    
    var modelID = 0
    $('.delete-user').click(function () {
        modelID = this.id;
        $('#deleteUser').modal('show');
    })
    function deleteUser(id) {
        $.ajax({
            url: "/Admin/DisplayUsers/DeleteUser/",
            type: "Post",
            data: { id: id }
        }).done(function (result) {
            switch (parseInt(result)) {
                case 0: $('#deleteUser').modal('hide'); $('table#usersTable tr#' + id).remove(); showNotification('top', 'center', 'success_alert', 'کاربر مورد نظر با موفقیت حذف شد', 'success'); break;
                case 1: $('#deleteUser').modal('hide'); showNotification('top', 'center', 'danger_alert', 'مشکل از سرور در حذف', 'danger'); break;
                case 2://there is no user exist;
                    ; break
            }
        });
    }
</script>
<!-- Delete user modal -->
<div id="deleteUser" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اخطار</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ایا از حذف کاربر مطمعن هستید ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" onclick="deleteUser(modelID)">بله</button>
            </div>
        </div>
    </div>
</div>