@model IEnumerable<DataLayer.Order_CustomerAddress>
@{
    ViewBag.Title = "DisplayOrdersPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@functions{
    public int Count = 0;
    public int GetCount()
    {
        return ++Count;
    }
}
<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">اطلاعات </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <span class="bmd-form-group">
                        <div class="input-group no-border">
                            <input type="text" value="" id="ShowUserFilter" onkeyup="jQueryFilterTable(this.id)" class="form-control" placeholder="کلمه مورد نظر خود را برای جستوجو وارد کنید">
                        </div>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" id="profile">
                        <table id="orderTable" class="table table-hover">
                            <thead class="cst-tb-center">
                                <tr>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        نام
                                    </th>
                                    <th>
                                        نام خانوادگی
                                    </th>
                                    <th>
                                        زمان سفارش
                                    </th>
                                    <th>
                                        انجام شده
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="cst-tb-center">
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.Order_CustomerAddressID">
                                        <td>
                                            @GetCount()
                                        </td>
                                        <td>
                                            @item.FirstName
                                        </td>
                                        <td>
                                            @item.LastName
                                        </td>
                                        <td>
                                            @item.CreateDate.ToPeString("dddd, dd MMMM,yyyy")
                                        </td>
                                        <td>
                                            @if (item.IsFinally)
                                            {
                                                <span class="text-success">بله</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">خیر</span>
                                            }
                                        </td>
                                        <td class="td-actions text-right">
                                            <a href="@Url.Action("OrderDetails","DisplayOrders",new { id=item.Order_CustomerAddressID})">
                                                <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="see Task">
                                                    <i class="material-icons">panorama_fish_eye</i>
                                                </button>
                                            </a>
                                            <button id="@item.Order_CustomerAddressID" type="button" rel="tooltip" title="" class="delete-order btn btn-danger btn-link btn-sm" data-original-title="Remove">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var modelID = 0
    $('.delete-order').click(function () {
        modelID = this.id;
        $('#deleteOrder').modal('show');
    })
    function deleteOrder(id) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
            url: "/Admin/DisplayOrders/DeleteOrder/",
            type: "Post",
            data: { id: id, __RequestVerificationToken: token }
        }).done(function (result) {
            switch (result) {
                case 'success.': $('#deleteOrder').modal('hide'); $('table#orderTable tr#' + id).remove(); showNotification('top', 'center', 'success_alert', 'سفارش مورد نظر با موفقیت حذف شد', 'success'); break;
                case 'server return fasle for delete current order.': $('#deleteOrder').modal('hide'); showNotification('top', 'center', 'danger_alert', 'مشکل از سرور در حذف', 'danger'); break
                case 'order do not exist.'://product do not exist
                    ; break
            }
        });
    }
</script>
<!-- Delete user modal -->
<div id="deleteOrder" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اخطار</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ایا از حذف سفارش مطمعن هستید ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-primary" onclick="deleteOrder(modelID)">بله</button>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

