@model DataLayer.Product
@{
    ViewBag.Title = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer">

            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            @Html.Action("ProductGallery", "Product", Model)
            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            <div class="span7">
                <div class="product-title">
                    <h1 class="name"><span class="light">محصول ویژه</span>@Model.ProductName</h1>
                    <div class="meta">
                        <span class="tag">@Model.Price تومان</span>
                        <span class="stock">
                            @if (Model.Available)
                            {
                                <span class="btn btn-success">موجود</span>
                            }
                            else
                            {
                                <span class="btn btn-danger">اتمام موجودی</span>
                            }
                        </span>
                    </div>
                </div>
                <div class="product-description">
                    <p>@Html.Raw(Model.FullDescription)</p>
                    <hr>

                    <!--  ==========  -->
                    <!--  = Add to cart form =  -->
                    <!--  ==========  -->
                    @Html.Action("AddToBasketForm", "Product", Model)
                    <hr>

                    <!--  ==========  -->
                    <!--  = Share buttons =  -->
                    <!--  ==========  -->

                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Tabs with more info =  -->
        <!--  ==========  -->
        <!--  = RIGHT THERE =  -->

    </div>
</div>
@Html.Action("RelatedProduct", "Product", new { ProductID = Model.ProductID })