
@model DataLayer.LogInViewModel
<!--  = Login =  -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel"><span class="light">ورود</span> در وبمارکت</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("LogIn","Account"))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                @Html.LabelFor(m => Model.Username_Email)
                <div class="controls">
                    @Html.TextBoxFor(m => Model.Username_Email)
                    @Html.ValidationMessageFor(m => Model.Username_Email, "", new { @class = "text-error" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => Model.Password_log)
                <div class="controls">
                    @Html.TextBoxFor(m => Model.Password_log)
                    @Html.ValidationMessageFor(m => Model.Password_log, "", new { @class = "text-error" })
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => Model.RememberMe)
                        @Html.LabelFor(m => Model.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary input-block-level bold higher">
                ورود
            </button>

        }
    <p class="center-align push-down-0">
        <a data-toggle="modal" role="button" href="#logInProblemModal" data-dismiss="modal">
            مشکلی برای ورود دارید ?
        </a>
    </p>
    </div>
</div>
@if (ViewBag.ModalCode == 102)
{
    <script>
        $(document).ready(function () {
            $('#loginModal').modal('show')
        })
    </script>
}

