@model IEnumerable<DataLayer.User>
@{
    ViewBag.Title = "SelectEmailTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@functions{
    public int Count = 0;
    public int GetCount()
    {
        return ++Count;
    }
}
<div id="SendEmailArea" class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">اطلاعات </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <span class="bmd-form-group">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="کلمه مورد نظر خود را برای جستوجو وارد کنید">
                        </div>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" id="profile">
                        <table id="usersTable" class="table table-hover">
                            <thead class="cst-tb-center">
                                <tr>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        نام کاربری
                                    </th>
                                    <th>
                                        ایمیل
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="cst-tb-center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="target" id="@item.ID">
                                                <label class="custom-control-label" for="@item.ID">
                                                    @GetCount()
                                                </label>
                                            </div>
                                            @*<input id="@item.ID" type="checkbox" name="target" />*@
                                        </td>
                                        <td>
                                            @item.Usename
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button class="btn btn-primary" onclick="openEmailPage()">ارسال ایمیل</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var list = []
    var errorFounder = false
    function openEmailPage() {
        var targets = document.getElementsByName('target')
        for (var i = 0; i < targets.length; i++) {
            if (targets[i].checked) {
                list.push(targets[i].id)
                errorFounder = true
            }
        }
        if (errorFounder)
            postAjax()
        else
            showNotification('top', 'center', '', 'کاربری را انتخاب کنید', 'warning');
        }
    function postAjax() {
        $.ajax({
            url: "/Admin/Email/SendEmailPage/",
            type: "Post",
            contentType: "application/json",
            data: JSON.stringify({ IDList: list })
        }).done(function (result) {
            $('#SendEmailArea').html('')
            $('#SendEmailArea').html(result)
        });
    }
</script>
