@using DataLayer;
@model ProductViewModel
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Themes/ckeditor/ckeditor.js"></script>
@functions{
    public string GetBackgroundImage(int id)
    {
        try
        {
            if (Model.Gallery64 == null || Model.Gallery64[id] == null)
            {
                return string.Empty;
            }
            else
            {
                return string.Format("background-image:url('data:image/png;base64,{0}')", Model.Gallery64[id]);
            }
        }
        catch (Exception e)
        {
            return string.Empty;
        }
    }
    bool eye = false;
    List<FeaturesSummery> list = new List<FeaturesSummery>();
    List<string> list_2 = new List<string>();
    public FeaturesSummery Get(int id)
    {
        if (!eye)
        {
            eye = true;
            list = Model.FeaturesSummeries;
        }
        FeaturesSummery featuresSummery = list.FirstOrDefault(fs => fs.FeaturesID == id);
        list.Remove(featuresSummery);
        return featuresSummery;
    }
    public int Length()
    {
        return list.Count;
    }
    public bool IsChecked(int id)
    {
        list_2 = Model.FeaturesSummeries_Temp;
        try
        {
            if (list_2.Any(x => x == id.ToString()))
            {
                return true;
            }
            return false;
        }
        catch (Exception)
        {
            return false;
        }
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">کاربر</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("EditProduct", "DisplayProducts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" style="visibility:hidden" name="ProductID" value="@Model.ProductID" />
                    <div class="row">
                        <div class="col-md-4 col-sm-1 imgUp">
                            <div class="imagePreview" style="@GetBackgroundImage(0)"></div>
                            <label class="btn btn-primary" style="width:100%">بارگزاری<input type="file" name="Gallery" id="upload-user-image" class="uploadFile img" style="width:0px;height:0px;overflow:hidden;"></label>
                        </div>
                        <div class="col-md-4 col-sm-1 imgUp">
                            <div class="imagePreview" style="@GetBackgroundImage(1)"></div>
                            <label class="btn btn-primary" style="width:100%">بارگزاری<input type="file" name="Gallery" id="upload-user-image" class="uploadFile img" style="width:0px;height:0px;overflow:hidden;"></label>
                        </div>
                        <div class="col-md-4 col-sm-1 imgUp">
                            <div class="imagePreview" style="@GetBackgroundImage(2)"></div>
                            <label class="btn btn-primary" style="width:100%">بارگزاری<input type="file" name="Gallery" id="upload-user-image" class="uploadFile img" style="width:0px;height:0px;overflow:hidden;"></label>
                        </div>
                    </div>

                    <div class="row  mt-3">
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                @Html.LabelFor(m => Model.ProductName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(m => Model.ProductName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.ProductName, "", new { @class = "text-danger" })
                                @*<label class="bmd-label-floating">نام محصول</label>*@
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                @Html.LabelFor(m => Model.OldPrice, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(m => Model.OldPrice, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.OldPrice, "", new { @class = "text-danger" })
                                @*<label type="text" class="bmd-label-floating">قیمت قدیمی</label>*@
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                @Html.LabelFor(m => Model.NowPrice, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(m => Model.NowPrice, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.NowPrice, "", new { @class = "text-danger" })
                                @*<label class="bmd-label-floating">قیمت جدید</label>*@
                                @*<input type="text" class="form-control">*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                @Html.LabelFor(m => Model.Rate, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(m => Model.Rate, new { @class = "form-control", type = "number", min = "0", max = "5" })
                                @Html.ValidationMessageFor(m => Model.Rate, "", new { @class = "text-danger" })
                                @*<label class="bmd-label-floating">امتیاز</label>*@
                                @*<input type="number" max="5" min="0" class="form-control">*@
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            @Html.LabelFor(m => Model.GroupsID, new { @class = "bmd-label-floating" })
                            <select class="custom-select custom-select" data-val="true" data-val-required="دسته بندی را وارد کانید" id="GroupsID" multiple="multiple" name="GroupsID">
                                @foreach (var item in Model.Groups)
                                {
                                    if (Model.GroupsID != null)
                                    {
                                        if (Model.GroupsID.Any(i => i == item.GroupID))
                                        {
                                            <option selected="selected" value="@item.GroupID">@item.GroupName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.GroupID">@item.GroupName</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@item.GroupID">@item.GroupName</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessageFor(m => Model.GroupsID, "", new { @class = "text-danger" })
                            @*<select class="custom-select custom-select">
                                    <option value="" disabled="" selected="">دسته بندی مورد نظر خود را انتخاب کنید</option>
                                </select>*@
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(m => Model.ShortDescription, new { @class = "bmd-label-floating" })
                            @Html.TextBoxFor(m => Model.ShortDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => Model.ShortDescription, "", new { @class = "text-danger" })
                            @*<label class="bmd-label-floating">توضیح کوتاه</label>*@
                            @*<textarea class="form-control" rows="1" cols="2"></textarea>*@
                        </div>
                        <div class="col-md-4">
                            <div class="togglebutton">
                                <label>
                                    @if (Model.Available)
                                    {
                                        <label class="bmd-label-floating" for="Available" id="toggleButtonAvailable">موجود</label>
                                        <input id="Available" name="Available" type="checkbox" checked value="true" />
                                    }
                                    else
                                    {
                                        <label class="bmd-label-floating" for="Available" id="toggleButtonAvailable">اتمام</label>
                                        <input id="Available" name="Available" type="checkbox" value="false" />
                                    }
                                    <span id="ToggleButton" class="toggle"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                @Html.LabelFor(m => Model.FullDescription, new { @class = "bmd-label-floating" })
                                @Html.TextAreaFor(m => Model.FullDescription, new { @class = "form-control", id = "FullDescription" })
                                @Html.ValidationMessageFor(m => Model.FullDescription, "", new { @class = "text-danger" })
                                @*<label class="bmd-label-floating">توضیحات</label>*@
                                @*<textarea type="text" id="FullDescription" class="form-control"></textarea>*@
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title mt-0">انتخاب ویژگی</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tab-pane active show" id="profile">
                                                <table id="usersTable" class="table table-hover">
                                                    <thead class="cst-tb-center">
                                                        <tr>
                                                            @foreach (var item in Model.Features)
                                                            {
                                                                <th id="@item.FeaturesID">
                                                                    @item.FeaturesName
                                                                </th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody class="cst-tb-center">
                                                        @while (true)
                                                        {
                                                            <tr>
                                                                @foreach (var item in Model.Features)
                                                                {
                                                                    var obj = Get(item.FeaturesID);
                                                                    if (obj != null)
                                                                    {
                                                                        <td>
                                                                            <!-- Remember me -->
                                                                            <div class="custom-control custom-checkbox">
                                                                                @if (IsChecked(obj.FS_ID))
                                                                                {
                                                                                    <input type="checkbox" class="custom-control-input" name="FeaturesSummeries_Temp" id="@obj.FS_Name" value="@obj.FS_ID" checked>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="checkbox" class="custom-control-input" name="FeaturesSummeries_Temp" id="@obj.FS_Name" value="@obj.FS_ID">
                                                                                }
                                                                                <label class="custom-control-label" for="@obj.FS_Name">@obj.FS_Name</label>
                                                                            </div>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            ---
                                                                        </td>
                                                                    }
                                                                }
                                                            </tr>
                                                            if (Length() == 0)
                                                            {
                                                                break;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">تغییر</button>
                    <div class="clearfix"></div>
                }
                <script>
                    CKEDITOR.replace("FullDescription")

                    /**/</script>
            </div>
        </div>
    </div>
</div>
<script>
    $('#ToggleButton').click(function () {
        if ($('#Available').is(':checked')) {
            $('#Available').val('false')
            $('#toggleButtonAvailable').html('اتمام')
        } else {
            $('#Available').val('true')
            $('#toggleButtonAvailable').html('موجود')
        }
    })
</script>
@if (ViewBag.Result == 100 || ViewBag.Result == 101)
{
    <script>
        showNotification('top', 'center', '@ViewBag.Icon','@ViewBag.Description', '@ViewBag.Type')
    </script>
}
